.container {
    padding-left: 5px;
}

legend {
    font-style: oblique;
    font-size: 20px;

}

.row {
    display: flex;
}

.column {
    width: 200px;
}

body {
    font-family: Arial;
}

input {
    margin: 5px;
}

.button{
    height: 50px;
    width: 200px;
}

#change_config {
    background-color: burlywood;
}
#start_analysis {
    background-color: lawngreen;
}

.popup {
    opacity: 0;
    padding: 20px;

}
