<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configurator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<script>
function submit() {
    var form = document.getElementById("form-id");
    form.submit();
}

function show_popup(id) {
    var popup = document.getElementById(id);
    popup.style.opacity = 1;
    var fadeEffect = setInterval(function () {
        if (!popup.style.opacity) {
            popup.style.opacity = 1;
        }
        if (popup.style.opacity > 0) {
            popup.style.opacity -= 0.1;
        } else {
            clearInterval(fadeEffect);
        }
    }, 200);
}    

</script>

<!-- Need that iframe to catch the reload after submit-->
<iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

<form  action = "http://localhost:1337/config/" method="post" id="form-id" target="dummyframe">
    {% for method_name,sub_json in json_file.items()%}
        <fieldset>
            <legend>{{method_name}}</legend>
                <div class="container">
                    {% if method_name == 'Corpus_Statistics' %}{% include 'Corpus_Statistics.html' %}{% endif %}
                    {% if method_name == 'Gensim_Lda' %}{% include 'Gensim_Lda.html' %}{% endif %}
                    {% if method_name == 'Gensim_Lsi' %}{% include 'Gensim_Lsi.html' %}{% endif %}
                    {% if method_name == 'Ngram_Ranking' %}{% include 'Ngram_Ranking.html' %}{% endif %}
                    {% if method_name == 'Semantic_Net_Keyword_Ranking' %}{% include 'Semantic_Net_Keyword_Ranking.html' %}{% endif %}
                    {% if method_name == 'Semantic_Net_Nodes_Ranking' %}{% include 'Semantic_Net_Nodes_Ranking.html' %}{% endif %}
                    {% if method_name == 'Semantic_Net_Visualization' %}{% include 'Semantic_Net_Visualization.html' %}{% endif %}
                    {% if method_name == 'Sgrank_Ranking' %}{% include 'Sgrank_Ranking.html' %}{% endif %}
                    {% if method_name == 'Singlerank_Ranking' %}{% include 'Singlerank_Ranking.html' %}{% endif %}
                    {% if method_name == 'Svo_Ranking' %}{% include 'Svo_Ranking.html' %}{% endif %}
                    {% if method_name == 'Textrank_Ranking' %}{% include 'Textrank_Ranking.html' %}{% endif %}
                    {% if method_name == 'Tfidf_Ranking' %}{% include 'Tfidf_Ranking.html' %}{% endif %}
                    {% if method_name == 'Topic_Modelling' %}{% include 'Topic_Modelling.html' %}{% endif %}
                    {% if method_name == 'Word_2_Vec' %}{% include 'Word_2_Vec.html' %}{% endif %}
                </div>
        </fieldset>
    {% endfor %}
    <div class="row">
        <div class="column">
            <input type="button" value="Change Config" class="button" id="change_config" onclick="submit();show_popup('config_popup')">
        </div>
        <div class="column">
            <div class="popup" id="config_popup"> Config Changed! </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="column">
        <input type="button" value="Start Analysis" class="button" id="start_analysis" onclick="show_popup('analysis_popup');location.href='{{url_for("start_analyzer")}}';">
    </div>
    <div class="column">
        <div class="popup" id="analysis_popup"> Analysis started! </div>
    </div>

</div>


</body>
</html>