<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input id='testName' type='checkbox' value=true name={{method_name}}-_process {% if sub_json['_process'] == True
        %}checked{%endif%}>
        <input id='testNameHidden' type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://chartbeat-labs.github.io/textacy/api_reference.html?highlight=textstat#textacy.text_stats.TextStats" target="_blank">Dokumentation: textacy TextStats</a>
    </div>
</div>
