<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process'] == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process >
    </div>
        <div class="column">
        <a href="https://radimrehurek.com/gensim/models/ldamodel.html" target="_blank">Dokumentation: gensim models.lda</a>
    </div>
</div>
<div class=" row">
        <div class="column">Number of Topics:</div>
        <div class="column"><input type="number" name={{method_name}}-num_topics id={{method_name}}-num_topics
                                   value={{sub_json['num_topics']}} max="50" min="0"></div>
        <div class="column">(if 0 - Algorithm decides the best fitting value through coherence calculation)</div>
</div>
    <div class="row">
        <div class="column">Show Visualization:</div>
        <div class="column">
            <input type="checkbox" value=true name={{method_name}}-show_viz id={{method_name}}-show_viz {% if sub_json['show_viz']
            == True %}checked{%endif%}>
            <input type='hidden' value=false name={{method_name}}-show_viz>
        </div>
    </div>
