<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://chartbeat-labs.github.io/textacy/api_reference.html?highlight=ngram#textacy.extract.ngrams" target="_blank">Dokumentation: textacy
            extract.ngrams</a>
    </div>
</div>
<div class="row">
    <div class="column">N Gram:</div>
    <div class="column"><input type="number" name="{{method_name}}-ngram" id="{{method_name}}-ngram"
                               value="{{sub_json['ngram']}}" max="10" min="2"></div>
</div>
<div class="row">
    <div class="column">Filter Stopwords:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-filter_stops id="{{method_name}}-filter_stops" {% if
               sub_json['filter_stops'] == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-filter_stops>
    </div>
</div>
<div class="row">
    <div class="column">Filter Punctuation:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-filter_punct id="{{method_name}}-filter_punct" {% if
               sub_json['filter_punct'] == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-filter_punct>
    </div>
</div>
<div class="row">
    <div class="column">Filter Numbers:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-filter_nums id="{{method_name}}-filter_nums" {% if
               sub_json['filter_nums'] == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-filter_nums>
    </div>
</div>
<div class="row">
    <div class="column">Minimum Frequency:</div>
    <div class="column"><input type="number" name="{{method_name}}-min_freq" id="{{method_name}}-min_freq"
                               value="{{sub_json['min_freq']}}" max="200" min="1"></div>
</div>


