<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://chartbeat-labs.github.io/textacy/api_reference.html?highlight=draw_semantic#textacy.viz.network.draw_semantic_network"
           target="_blank">Dokumentation: textacy
            viz.network.draw_semantic_network</a>
    </div>
</div>
</div>
<div class="row">
    <div class="column">Cropping Amount:</div>
    <div class="column"><input type="number" name="{{method_name}}-cropping_amount" id="{{method_name}}-cropping_amount"
                               value="{{sub_json['cropping_amount']}}" max="200" min="1"></div>
</div>