<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://chartbeat-labs.github.io/textacy/api_reference.html?highlight=singlerank#textacy.keyterms.singlerank"
           target="_blank">Dokumentation: textacy
            keyterms.sgrank</a>
    </div>
</div>
</div>
<div class="row">
    <div class="column">Normalization:</div>
    <div class="column">
        <select name={{method_name}}-normalize id="{{method_name}}-normalize">
            <option value="lemma" {% if sub_json[
            'normalize'] == 'lemma' %}selected{%endif%}>lemma</option>
            <option value="lower" {% if sub_json[
            'normalize'] == 'lower' %}selected{%endif%}>lower</option>
            <option value="None" {% if sub_json[
            'normalize'] == 'None' %}selected{%endif%}>None</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="column">N Keyterms:</div>
    <div class="column"><input type="number" name="{{method_name}}-n_keyterms" id="{{method_name}}-n_keyterms"
                               value="{{sub_json['n_keyterms']}}" max="50" min="1"></div>
</div>