<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://chartbeat-labs.github.io/textacy/api_reference.html?highlight=subject_verb_object_triples#textacy.extract.subject_verb_object_triples"
           target="_blank">Dokumentation: textacy
            extract.subject_verb_object_triples</a>
    </div>
</div>
</div>
