<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://radimrehurek.com/gensim/models/tfidfmodel.html"
           target="_blank">Dokumentation: gensim
            models.tfidfmodel</a>
    </div>
</div>
</div>
<div class="row">
    <div class="column">Cutoff:</div>
    <div class="column"><input type="number" name="{{method_name}}-cutoff" id="{{method_name}}-cutoff"
                               value="{{sub_json['cutoff']}}" max="50" min="1"></div>
</div>