<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-_process id="{{method_name}}-_process" {% if sub_json['_process']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://chartbeat-labs.github.io/textacy/api_reference.html?highlight=top_topic_terms#textacy.tm.topic_model.TopicModel.top_topic_terms"
           target="_blank">Dokumentation: textacy
            tm.topic_model.TopicModel.top_topic_terms</a>
    </div>
</div>
</div>
<div class="row">
    <div class="column">Topics:</div>
    <div class="column"><input type="number" name="{{method_name}}-topics" id="{{method_name}}-topics"
                               value="{{sub_json['topics']}}" max="20" min="-1"></div>
    <div class="column">if -1 (default), all topics' terms are returned</div>

</div>
<div class="row">
    <div class="column">Sort Topics By:</div>
    <div class="column">
        <select name={{method_name}}-normalize id="{{method_name}}-normalize">
            <option value="index" {% if sub_json[
            'sort_topics_by'] == 'index' %}selected{%endif%}>index</option>
            <option value="weight" {% if sub_json[
            'sort_topics_by'] == 'weight' %}selected{%endif%}>weight</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="column">N Terms:</div>
    <div class="column"><input type="number" name="{{method_name}}-n_terms" id="{{method_name}}-n_terms"
                               value="{{sub_json['n_terms']}}" max="50" min="1"></div>
</div>
<div class="row">
    <div class="column">Show Visualization:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-show_viz id="{{method_name}}-show_viz" {% if sub_json['show_viz']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-show_viz>
    </div>
</div>


