<div class="row">
    <div class="column">Start Method:</div>
    <div class="column">
        <input id='testName' type='checkbox' value=true name={{method_name}}-_process {% if sub_json['_process'] == True
        %}checked{%endif%}>
        <input id='testNameHidden' type='hidden' value=false name={{method_name}}-_process>
    </div>
    <div class="column">
        <a href="https://radimrehurek.com/gensim/models/word2vec.html"
           target="_blank">Dokumentation: textacy
            word2vec</a>
    </div>
</div>
<div class="row">
    <div class="column">Minimum Count:</div>
    <div class="column"><input type="number" name="{{method_name}}-min_count" id="{{method_name}}-min_count"
                               value="{{sub_json['min_count']}}" max="50" min="1"></div>
</div>
<div class="row">
    <div class="column">Window Size:</div>
    <div class="column"><input type="number" name="{{method_name}}-window" id="{{method_name}}-window"
                               value="{{sub_json['window']}}" max="50" min="1"></div>
</div>
<div class="row">
    <div class="column">Size:</div>
    <div class="column"><input type="number" name="{{method_name}}-size" id="{{method_name}}-size"
                               value="{{sub_json['size']}}" max="200" min="1"></div>
</div>
<div class="row">
    <div class="column">Similar To</div>
    <div class="column"><input type="text" name="{{method_name}}-similar_to" id="{{method_name}}-similar_to"
                               value="{{sub_json['similar_to']}}"">
    </div>
</div>

<div class="row">
    <div class="column">Show Visualization:</div>
    <div class="column">
        <input type="checkbox" value=true name={{method_name}}-show_viz id={{method_name}}-show_viz {% if sub_json['show_viz']
        == True %}checked{%endif%}>
        <input type='hidden' value=false name={{method_name}}-show_viz>
    </div>
</div>
